body, html {
    height: 100%;
    margin: 0;
    background: radial-gradient(circle, #ffe6f2 0%, #ffb3d9 50%, #ffe6f2 100%); /* Светло-розовый фон с радиальным градиентом */
    color: #4d004d; /* Темно-розовый цвет текста */
    font-family: 'Verdana', sans-serif;
}

.container {
    background-color: rgba(255, 204, 229, 0.9); /* Полупрозрачный светло-розовый фон для контейнера */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 192, 203, 0.6);
}

#logo {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #ff66b3;
}

h1, label {
    color: #4d004d; /* Темно-розовый цвет заголовков и меток */
}

.form-control, .form-group select, .form-group input {
    background-color: #ffccf2; /* Светло-розовый фон полей ввода */
    color: #4d004d; /* Темный цвет текста в полях */
    border: 1px solid #ff99cc;
    border-radius: 8px;
}

.btn-primary {
    background-color: #ff66b3;
    border: none;
}

.btn-success {
    background-color: #ff4d94;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
}

#result, #lastUpdated {
    font-size: 20px;
    margin-top: 25px;
}
